<html>
  <head>
    <title>University Website Design</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body>

      <!-- ----header---- -->

      <section class="sub-header">
        <nav>
          <a href="#"><img src="../../assets/logo.png" alt=""></a>
          <div class="nav-links" id="navLinks" >
            <i class="fa fa-times"></i>
            <ul>
              <li><a [routerLink]="['/home']">HOME</a></li>
              <li><a [routerLink]="['/about']">ABOUT</a></li>
              <li><a [routerLink]="['/course']">COURSE</a></li>
              <li><a [routerLink]="['/blog']">BLOG</a></li>
              <li><a [routerLink]="['/contact']">CONTACT</a></li>
            </ul>
          </div>
          <i class="fa fa-bars"></i>
        </nav>
        <div class="text-box">
          <h1>About Us</h1>
        </div>
      </section>

      <!-- ----About us content---- -->

      <section class="about-us">
        <div class="row">
          <div class="about-col">
            <h1>We are world's largest university</h1>
            <p>He function of a paragraph is to mark a pause,setting the paragraph apart
              from what precedes it. If a paragraph is preceded by a title or subhead,<br>
              the indent is superfluous and can therefore be omitted</p>
              <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
          </div>
          <div class="about-col">
              <img src="../../assets/about.jpg">
          </div>
        </div>
      </section>

      <!-- -----Footer----- -->

      <section class="footer">
        <h4>About Us</h4>
        <p>He function of a paragraph is to mark a pause,setting the paragraph apart
          from what precedes it. If a paragraph is preceded by a title or subhead,<br>
          the indent is superfluous and can therefore be omitted</p>
          <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            <p>Made with<i class="fa fa-heart-o"></i> by Easy Tutorials</p>
          </div>
      </section>
    </body>
</html>
