<html>
  <head>
    <title>University Website Design</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body>

      <!-- ----header---- -->

      <section class="sub-header">
        <nav>
          <a href="#"><img src="../../assets/logo.png" alt=""></a>
          <div class="nav-links" id="navLinks" >
            <i class="fa fa-times"></i>
            <ul>
              <li><a [routerLink]="['/home']">HOME</a></li>
              <li><a [routerLink]="['/about']">ABOUT</a></li>
              <li><a [routerLink]="['/course']">COURSE</a></li>
              <li><a [routerLink]="['/blog']">BLOG</a></li>
              <li><a [routerLink]="['/contact']">CONTACT</a></li>
            </ul>
          </div>
          <i class="fa fa-bars"></i>
        </nav>
        <div class="text-box">
          <h1>Our Courses</h1>
        </div>
      </section>


      <!-- ----Course---- -->

      <section class="course">
        <h1>Courses We Offer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="row">
          <div class="course-col">
            <h3>Intermediate</h3>
            <p>The function of a paragraph is to mark a pause,
               setting the paragraph apart from what precedes it. If a paragraph is preceded by a title or subhead,
                the indent is superfluous and
                can therefore be omitted
              </p>
          </div>
          <div class="course-col">
            <h3>Degree</h3>
            <p>The function of a paragraph is to mark a pause,
               setting the paragraph apart from what precedes it. If a paragraph is preceded by a title or subhead,
                the indent is superfluous and
                can therefore be omitted
              </p>
          </div>
          <div class="course-col">
            <h3>Post Graduation</h3>
            <p>The function of a paragraph is to mark a pause,
               setting the paragraph apart from what precedes it. If a paragraph is preceded by a title or subhead,
                the indent is superfluous and can therefore be omitted
              </p>
          </div>
        </div>
      </section>

      <!-- --------Facilites----- -->

      <section class="facilities">
        <h1>Our Facilities</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="row">
          <div class="facilities-col">
            <img src="../../assets/library.png">
            <h3>World Class library</h3>
            <p>The function of a paragraph is to mark a pause, setting the paragraph apart from what precedes it.
              If a paragraph is preceded by a title or subhead.
            </p>
          </div>
          <div class="facilities-col">
            <img src="../../assets/basketball.png">
            <h3>Largest Play Ground</h3>
            <p>The function of a paragraph is to mark a pause, setting the paragraph apart from what precedes it.
              If a paragraph is preceded by a title or subhead.
            </p>
          </div>

          <div class="facilities-col">
            <img src="../../assets/cafeteria.png">
            <h3>Tasty & Healthy Food</h3>
            <p>The function of a paragraph is to mark a pause, setting the paragraph apart from what precedes it.
              If a paragraph is preceded by a title or subhead.
            </p>
          </div>
        </div>
      </section>

      <!-- -----Footer----- -->

      <section class="footer">
        <h4>About Us</h4>
        <p>He function of a paragraph is to mark a pause,setting the paragraph apart
          from what precedes it. If a paragraph is preceded by a title or subhead,<br>
          the indent is superfluous and can therefore be omitted</p>
          <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            <p>Made with<i class="fa fa-heart-o"></i> by Easy Tutorials</p>
          </div>
      </section>
    </body>
</html>
