<html>
  <head>
    <title>University Website Design</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body>

      <!-- ----header---- -->

      <section class="sub-header">
        <nav>
          <a href="#"><img src="../../assets/logo.png" alt=""></a>
          <div class="nav-links" id="navLinks" >
            <i class="fa fa-times"></i>
            <ul>
              <li><a [routerLink]="['/home']">HOME</a></li>
              <li><a [routerLink]="['/about']">ABOUT</a></li>
              <li><a [routerLink]="['/course']">COURSE</a></li>
              <li><a [routerLink]="['/blog']">BLOG</a></li>
              <li><a [routerLink]="['/contact']">CONTACT</a></li>
            </ul>
          </div>
          <i class="fa fa-bars"></i>
        </nav>
        <div class="text-box">
          <h1>Our Certificate & Online Programs For 2021</h1>
        </div>
      </section>

       <!-- ----Blog page content---- -->

       <section class="blog-content">
          <div class="row">
            <div class="blog-left">
              <img src="../../assets/certificate.jpg">
              <h2>Our Certificate & Online Programs For 2021</h2>
              <p>He function of a paragraph is to mark a pause,setting the paragraph apart
                from what precedes it. If a paragraph is preceded by a title or subhead,
                the indent is superfluous and can therefore be omitted He function of a paragraph is to mark a pause,
                setting the paragraph apart from what precedes it. If a paragraph is preceded by a title or subhead,
                the indent is superfluous and can therefore be omitted</p>
                <br>
                <p>He function of a paragraph is to mark a pause,setting the paragraph apart
                  from what precedes it. If a paragraph is preceded by a title or subhead,
                  the indent is superfluous and can therefore be omitted He function of a paragraph is to mark a pause,
                  setting the paragraph apart from what precedes it. If a paragraph is preceded by a title or subhead,
                  the indent is superfluous and can therefore be omitted</p>
                  <br>
                  <p>He function of a paragraph is to mark a pause,setting the paragraph apart
                    from what precedes it. If a paragraph is preceded by a title or subhead,
                    the indent is superfluous and can therefore be omitted He function of a paragraph is to mark a pause,
                    setting the paragraph apart from what precedes it. If a paragraph is preceded by a title or subhead,
                    the indent is superfluous and can therefore be omitted</p>
                    <br>
                    <p>He function of a paragraph is to mark a pause,setting the paragraph apart
                      from what precedes it. If a paragraph is preceded by a title or subhead,
                      the indent is superfluous and can therefore be omitted He function of a paragraph is to mark a pause,
                      setting the paragraph apart from what precedes it. If a paragraph is preceded by a title or subhead,
                      the indent is superfluous and can therefore be omitted</p>

                      <div class="comment-box">
                        <h3>Leave a comment</h3>
                        <form class="comment-form">
                          <input type="text" placeholder="Enter Name">
                          <input type="email" placeholder="Enter Email">
                          <textarea rows="5" placeholder="Your Comment"></textarea>
                          <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
                        </form>
                      </div>
                </div>
            <div class="blog-right">
              <h3>Post Categories</h3>
              <div>
                <span>Business Analytics</span>
                <span>21</span>
              </div>
              <div>
                <span>Data Science</span>
                <span>28</span>
              </div>
              <div>
                <span>Machine Learning</span>
                <span>15</span>
              </div>
              <div>
                <span>Computer Science</span>
                <span>34</span>
              </div>
              <div>
                <span>AutoCAD </span>
                <span>42</span>
              </div>
              <div>
                <span>Journalism</span>
                <span>22</span>
              </div>
              <div>
                <span>Commerce</span>
                <span>30</span>
              </div>
            </div>
          </div>
       </section>

      <!-- -----Footer----- -->

      <section class="footer">
        <h4>About Us</h4>
        <p>He function of a paragraph is to mark a pause,setting the paragraph apart
          from what precedes it. If a paragraph is preceded by a title or subhead,<br>
          the indent is superfluous and can therefore be omitted</p>
          <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            <p>Made with<i class="fa fa-heart-o"></i> by Easy Tutorials</p>
          </div>
      </section>
    </body>
</html>
